<div class="pl-4 pr-4">

    <h5>Header</h5>


    <div class="flex">
        <div class="flex justify-content-end">
            <button pButton pRipple label="Lisa" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openDialog(null)"></button>
        </div>
    </div>

    <app-filtered-table
        [fluid]="true"
        [value]="typeList"
        [loading]="loading"
        [paginator]="true"
        [columns]="selectedTableColumns"
        (rowSelected)="openDialog($event.data)"
        (rowEditInit)="rowEditInit($event)"
        (rowDeleted)="delete($event)"
        [selectionMode]="'single'"
        [(selection)]="selectedRow"
        [allowDeletion]="true"
        editMode="rowDialog"
    >
        <ng-template #caption>
            <div class="flex justify-content-end">
                <button pButton pRipple label="Lisa probleemi tüüp" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialog(null)"></button>
            </div>
        </ng-template>
    </app-filtered-table>


</div>

<p-dialog [(visible)]="dialogueVisible"
          (visibleChange)="onVisibleChange($event)"
          [style]="{width: '800px'}"
          [modal]="true"
          [draggable]="false"
          styleClass="p-fluid"
>
    <ng-template pTemplate="header">
        <h2>Salvestamine</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="formgrid grid">


            <div class="field col-12">
                <label for="name">Nimi</label>
                <input pInputText id="name" [(ngModel)]="type.name" type="text"
                       [required]="true"
                       name="name">
            </div>
            <div class="field col-12">
                <label for="identifier">Identifikaator</label>
                <input pInputText id="identifier" [(ngModel)]="type.identifier" type="text"
                       [required]="true"
                       name="identifier">
            </div>




        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
            <button
                pButton
                pRipple
                label="Tühista"
                icon="pi pi-times"
                id="cancel-btn"
                class="p-button p-button-link"
                (click)="dialogueVisible = false; this.selectedRow = null;"
            ></button>
            <div>
                <button
                    pButton
                    pRipple
                    [label]="'Kustuta'"
                    id="delete-btn"
                    icon="pi pi-check"
                    class="p-button p-button-danger mr-2"
                    (click)="delete(type)"
                ></button>
                <button
                    pButton
                    pRipple
                    [label]="'Salvesta'"
                    id="save-btn"
                    icon="pi pi-check"
                    class="p-button p-button-success"
                    (click)="save()"
                ></button>
            </div>
        </div>
    </ng-template>
</p-dialog>
<p-confirmDialog></p-confirmDialog>



<!--&lt;!&ndash;DROPDOWN TODO delete&ndash;&gt;-->
<!--<p-dropdown-->
<!--    inputId="dropdown"-->
<!--    id="dropdown"-->
<!--    [autoDisplayFirst]="false"-->
<!--    [options]="typeList"-->
<!--    [(ngModel)]="type"-->
<!--    (onChange)="typeChange($event)"-->
<!--    optionLabel="name"-->
<!--&gt;</p-dropdown>-->
