<div class="pl-4 pr-4">
    <h5>Ülesande mallid</h5>

    <div class="flex justify-content-end mb-3">
        <button
            pButton
            pRipple
            label="Lisa"
            icon="pi pi-plus"
            class="p-button-success"
            [disabled]="!canManage"
            (click)="openDialog()">
        </button>
    </div>

    <app-filtered-table
        [fluid]="true"
        [value]="typeList"
        [loading]="loading"
        [paginator]="true"
        [columns]="selectedTableColumns"
        (rowSelected)="openDialog($event.data)"
        (rowEditInit)="rowEditInit($event)"
        (rowDeleted)="delete($event)"
        [selectionMode]="'single'"
        [(selection)]="selectedRow"
        [allowDeletion]="canManage"
        editMode="rowDialog">
    </app-filtered-table>
</div>

<p-dialog
    [(visible)]="dialogueVisible"
    (visibleChange)="onVisibleChange($event)"
    [style]="{width: '640px'}"
    [modal]="true"
    [draggable]="false"
    styleClass="p-fluid">
    <ng-template pTemplate="header">
        <h2>Ülesande mall</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col-12">
                <label for="identifier">Identifikaator</label>
                <input pInputText id="identifier" [(ngModel)]="type.identifier" type="text" required name="identifier">
            </div>
            <div class="field col-12">
                <label for="name">Nimi</label>
                <input pInputText id="name" [(ngModel)]="type.name" type="text" required name="name">
            </div>
            <div class="field col-12">
                <label for="version">Versioon</label>
                <input pInputText id="version" [(ngModel)]="type.version" type="text" name="version">
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
            <button
                pButton
                pRipple
                label="Tühista"
                icon="pi pi-times"
                class="p-button p-button-link"
                (click)="dialogueVisible = false; selectedRow = null">
            </button>
            <div>
                <button
                    pButton
                    pRipple
                    label="Kustuta"
                    icon="pi pi-trash"
                    class="p-button p-button-danger mr-2"
                    [disabled]="!canManage || !type.id"
                    (click)="delete(type)">
                </button>
                <button
                    pButton
                    pRipple
                    label="Salvesta"
                    icon="pi pi-check"
                    class="p-button p-button-success"
                    [disabled]="!canManage"
                    (click)="save()">
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
