<div class="card">

</div>



<div class="card">

    <span class="text-900 text-xl font-bold mb-4 block">Ülesanne</span>

    <div class="grid">


<!--        <div class="col-12 lg:col-2">-->
<!--            <div class="text-900 font-medium text-xl mb-3">Pealkiri placeholder</div>-->
<!--            <p class="m-0 p-0 text-600 line-height-3 mr-3">Info placeholder</p>-->
<!--        </div>-->
        <div class="col-12 lg:col-10">

            <div class="field mb-4 col-12">
                <div class="button-container">
                    <div class="trigger" (click)="fileInput.click()">
                        <i class="pi pi-upload"></i>
                        <span>Lisa joonis (pdf)</span>
                        <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                    </div>
                </div>
            </div>

            <div class="grid formgrid p-fluid">

                <div *ngFor="let drawing of drawingsList">
                    <app-image-dialog [drawingInteractions]="drawing.drawingInteraction"  [imageUrl]="drawing.imageUrl" [type]="'DF'"></app-image-dialog>
                </div>

                <!--                <div class="field mb-4 col-12" *ngIf="images.length > 0">-->
<!--                    <label for="uploadedFiles" class="font-medium text-900">Uploaded Files</label>-->
<!--                    <div class="uploaded-files">-->
<!--                        <div class="file-item" *ngFor="let image of images">-->
<!--&lt;!&ndash;                            <img [src]="image" alt="Extracted Image" class="uploaded-image" (click)="onImageClick(image)">&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--            </div>-->
        </div>
    </div>

</div>
    <button
        pButton
        pRipple
        class="p-button-secondary"
        (click)="saveDrawing()"
        label="Salvesta">
    </button>
<!--<p-dialog #cameraDialog header="Capture Image" [(visible)]="displayCameraDialog" [modal]="true" [style]="{width: '80vw', height: '80vh'}" (onShow)="onDialogShow(cameraDialog)">-->
<!--    <app-camera-capture></app-camera-capture>-->
<!--</p-dialog>-->

<!--<p-dialog #imageDialog header="View Image" [(visible)]="displayImageDialog" [modal]="true" [style]="{width: dynamicWidth, height: dynamicHeight}" (onHide)="closeImageDialog()">-->
<!--    <app-image-dialog [imageUrl]="selectedImage" [type]="'DF'" (imageLoaded)="onImageLoaded($event)"></app-image-dialog>-->
<!--</p-dialog>-->
</div>
