.button-container {
    display: flex;
    gap: 20px;
}

.trigger {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.trigger i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.trigger span {
    font-size: 0.9rem;
    text-align: center;
}

.uploaded-files {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.uploaded-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.file-name {
    font-size: 0.8rem;
    text-align: center;
}
/* assignments.component.scss */

.image-list {
    display: flex;
    flex-direction: column; /* Ensure images are stacked vertically */
    align-items:center;
}

.image-item {
    margin-bottom: 20px; /* Space between images */
}

.image-container {
    border: 1px solid #ccc; /* Border around the image */
    padding: 10px;          /* Padding inside the border */
    border-radius: 5px;     /* Optional: Rounded corners */
    //background-color: #fff; /* Optional: Background color */
}
