<div class="card">
<h1>{{assignment.project.projectName}}</h1>
</div>



<div class="card">

    <span class="text-900 text-xl font-bold mb-4 block">Ülesanne</span>
    <div class="field mb-4 col-12 md:col-6">
        <label for="email" class="font-medium text-900">Nimetus</label>
        <input id="email" type="text" pInputText [(ngModel)]="assignment.name">
    </div>
    <div class="grid">


<!--        <div class="col-12 lg:col-2">-->
<!--            <div class="text-900 font-medium text-xl mb-3">Pealkiri placeholder</div>-->
<!--            <p class="m-0 p-0 text-600 line-height-3 mr-3">Info placeholder</p>-->
<!--        </div>-->
        <div class="col-12 lg:col-10">

            <div class="field mb-4 col-12">
                <div class="button-container">
                    <div class="trigger" (click)="fileInput.click()">
                        <i class="pi pi-upload"></i>
                        <span>Lisa joonis (pdf)</span>
                        <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                    </div>
                </div>
            </div>

            <div class="image-list">
                <div *ngFor="let drawing of drawingsList" class="image-item">
                    <!-- Add a container div for styling -->
                    <div class="image-container">
                        <app-image-dialog
                            [drawingInteractions]="drawing.drawingInteraction"
                            [imageUrl]="drawing.imageUrl"
                            [type]="'DF'">
                        </app-image-dialog>
                    </div>
                </div>
            </div>
    </div>

</div>
    <button
        pButton
        pRipple
        class="p-button-secondary"
        (click)="saveAssignment()"
        label="Salvesta">
    </button>
<!--<p-dialog #cameraDialog header="Capture Image" [(visible)]="displayCameraDialog" [modal]="true" [style]="{width: '80vw', height: '80vh'}" (onShow)="onDialogShow(cameraDialog)">-->
<!--    <app-camera-capture></app-camera-capture>-->
<!--</p-dialog>-->

<!--<p-dialog #imageDialog header="View Image" [(visible)]="displayImageDialog" [modal]="true" [style]="{width: dynamicWidth, height: dynamicHeight}" (onHide)="closeImageDialog()">-->
<!--    <app-image-dialog [imageUrl]="selectedImage" [type]="'DF'" (imageLoaded)="onImageLoaded($event)"></app-image-dialog>-->
<!--</p-dialog>-->
</div>

<p-dialog [(visible)]="dialogueVisible"
          (visibleChange)="onVisibleChange($event)"
          [style]="{width: '800px'}"
          [modal]="true"
          [draggable]="false"
          styleClass="p-fluid"
>
    <ng-template pTemplate="header">
        <h2>Salvestamine</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="formgrid grid">

            <app-start-add></app-start-add>

<!--            <div class="field col-12">-->
<!--                <label for="projectName">TODO</label>-->
<!--                <input pInputText-->
<!--                       id="projectName"-->
<!--                       [(ngModel)]="project.projectName"-->
<!--                       type="text"-->
<!--                       [required]="true"-->
<!--                       name="projectName">-->
<!--            </div>-->
<!--            <div class="field-radiobutton col-12">-->
<!--                <label for="valid">TODO</label>-->
<!--                <p-checkbox id="valid"-->
<!--                            (click)="setActive(project.valid)"-->
<!--                            [value]="project.valid"-->
<!--                            [(ngModel)]="project.valid"-->
<!--                            [binary]="true"></p-checkbox>-->
<!--            </div>-->


        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Tühista"
            icon="pi pi-times"
            id="cancel-btn"
            class="p-button p-button-danger"
            (click)="dialogueVisible = false; this.selectedRow = null;"
        ></button>
        <button
            pButton
            pRipple
            [label]="'Salvesta'"
            id="save-btn"
            icon="pi pi-check"
            class="p-button p-button-success"
            (click)="save()"
        ></button>
    </ng-template>
</p-dialog>
