<div *ngIf="assignment && assignment.project" class="card">
    <h1>{{assignment.project.projectName}}</h1>
</div>

<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Ülesanne</span>

    <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-6">
            <label class="font-medium text-900">Staatus</label>
            <div class="text-900">{{statusLabel}}</div>
        </div>

        <div class="field mb-4 col-12 md:col-6">
            <label for="name" class="font-medium text-900">Nimetus</label>
            <input id="name" type="text" pInputText [(ngModel)]="assignment.name" [disabled]="isRegularUser">
        </div>

        <div class="field mb-4 col-12 md:col-6">
            <h5>Tüüp</h5>
            <p-dropdown
                inputId="dropdown"
                id="dropdown"
                [autoDisplayFirst]="false"
                [options]="typeList"
                [disabled]="isRegularUser"
                [(ngModel)]="selectedType"
                (onChange)="typeChange($event)"
                optionLabel="name">
            </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-6">
            <h5>Aadress</h5>
            <p-dropdown
                inputId="assignmentAddress"
                [autoDisplayFirst]="false"
                [options]="addressOptions"
                [disabled]="isRegularUser"
                [(ngModel)]="selectedAddress"
                (onChange)="onAddressChange($event)"
                optionLabel="name"
                placeholder="Vali aadress">
            </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-6">
            <h5>Sektor</h5>
            <p-dropdown
                inputId="assignmentSector"
                [autoDisplayFirst]="false"
                [options]="sectorOptions"
                [disabled]="isRegularUser"
                [(ngModel)]="selectedSector"
                (onChange)="onSectorChange($event)"
                optionLabel="name"
                placeholder="Vali sektor">
            </p-dropdown>
        </div>

        <div class="field mb-4 col-12">
            <h5>Kirjeldus</h5>
            <textarea rows="6" pInputTextarea [(ngModel)]="assignment.description" [disabled]="isRegularUser"></textarea>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-10">
            <div *ngIf="!isRegularUser" class="field mb-4 col-12">
                <div class="button-container">
                    <div class="trigger" (click)="fileInput.click()">
                        <i class="pi pi-upload"></i>
                        <span>Lisa joonis (pdf)</span>
                        <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                    </div>
                </div>
            </div>

            <div class="image-list">
                <div *ngFor="let drawing of drawingsList" class="image-item">
                    <div class="image-container">
                        <app-image-dialog
                            [drawing]="drawing"
                            [drawingInteractions]="drawing.drawingInteraction"
                            [drawingId]="drawing.id"
                            [imageUrl]="drawing.imageUrl"
                            [assignmentStatusById]="assignmentStatusById"
                            [readOnly]="isRegularUser"
                            [type]="'DF'">
                        </app-image-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button
        *ngIf="!isRegularUser"
        pButton
        pRipple
        class="p-button-secondary"
        (click)="saveAssignment()"
        label="Salvesta">
    </button>
    <button
        *ngIf="canMarkFinished"
        pButton
        pRipple
        class="p-button-success ml-2"
        (click)="markFinished()"
        label="Märgi lõpetatuks">
    </button>
    <button
        *ngIf="canApproveAssignment"
        pButton
        pRipple
        class="p-button-success ml-2"
        (click)="approveAssignment()"
        label="Kinnita">
    </button>
</div>
