<!--<p-dialog header="Image" [(visible)]="display" [modal]="true" [style]="{width: '80vw', height: '80vh'}" (onHide)="onClose()">-->
    <canvas #imageCanvas (click)="onCanvasClick($event)"></canvas>

<!--</p-dialog>-->



<p-dialog [(visible)]="dialogueVisible"
          (visibleChange)="onVisibleChange($event)"
          [style]="{width: '800px'}"
          [modal]="true"
          [draggable]="false"
          styleClass="p-fluid"
>
    <ng-template pTemplate="header">
        <h2>Salvestamine</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="formgrid grid">

            <app-start-add></app-start-add>

            <!--            <div class="field col-12">-->
            <!--                <label for="projectName">TODO</label>-->
            <!--                <input pInputText-->
            <!--                       id="projectName"-->
            <!--                       [(ngModel)]="project.projectName"-->
            <!--                       type="text"-->
            <!--                       [required]="true"-->
            <!--                       name="projectName">-->
            <!--            </div>-->
            <!--            <div class="field-radiobutton col-12">-->
            <!--                <label for="valid">TODO</label>-->
            <!--                <p-checkbox id="valid"-->
            <!--                            (click)="setActive(project.valid)"-->
            <!--                            [value]="project.valid"-->
            <!--                            [(ngModel)]="project.valid"-->
            <!--                            [binary]="true"></p-checkbox>-->
            <!--            </div>-->


        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Tühista"
            icon="pi pi-times"
            id="cancel-btn"
            class="p-button p-button-danger"
            (click)="dialogueVisible = false"
        ></button>
        <button
            pButton
            pRipple
            [label]="'Salvesta'"
            id="save-btn"
            icon="pi pi-check"
            class="p-button p-button-success"
            (click)="saveAssignmentDetails()"
        ></button>
    </ng-template>

</p-dialog>
