<!--<p-dialog header="Image" [(visible)]="display" [modal]="true" [style]="{width: '80vw', height: '80vh'}" (onHide)="onClose()">-->
<div class="drawing-viewer">
    <div class="viewer-toolbar">
        <button pButton pRipple type="button" icon="pi pi-search-minus" class="p-button-text p-button-sm"
                (click)="zoomOut()" title="Zoom out"></button>
        <span class="zoom-value">{{ zoomPercent }}%</span>
        <button pButton pRipple type="button" icon="pi pi-search-plus" class="p-button-text p-button-sm"
                (click)="zoomIn()" title="Zoom in"></button>
        <button pButton pRipple type="button" icon="pi pi-window-maximize" class="p-button-text p-button-sm"
                (click)="fitToView()" title="Fit to view"></button>
        <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-text p-button-sm"
                (click)="resetView()" title="Reset view"></button>
    </div>

    <div class="canvas-viewport"
         (wheel)="onWheel($event)"
         (pointerdown)="onPointerDown($event)"
         (pointermove)="onPointerMove($event)"
         (pointerup)="onPointerUp($event)"
         (pointercancel)="onPointerCancel($event)">
        <canvas #imageCanvas
                [style.transform]="canvasTransform"
                [class.dragging]="isDragging"></canvas>
    </div>
</div>

<!--</p-dialog>-->



<p-dialog [visible]="dialogueVisible"
          (visibleChange)="onVisibleChange($event)"
          [style]="{width: '800px'}"
          [modal]="true"
          [draggable]="false"
          [closable]="!isSavingInteraction"
          styleClass="p-fluid"
>
    <ng-template pTemplate="header">
        <h2>{{ interactionDialogMode === 'edit' ? 'Markeri muutmine' : 'Salvestamine' }}</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <ng-container *ngIf="selectedInteraction as interaction">
                <div class="field col-12 md:col-3">
                    <label for="drawingType">Type</label>
                    <input id="drawingType"
                           type="text"
                           pInputText
                           [(ngModel)]="interaction.drawingType"
                           (ngModelChange)="redrawInteractions()">
                </div>

                <div class="field col-12 md:col-3">
                    <label for="drawingIndex">Number</label>
                    <input id="drawingIndex"
                           type="number"
                           pInputText
                           min="1"
                           [(ngModel)]="interaction.drawingIndex"
                           (ngModelChange)="redrawInteractions()">
                </div>

                <div class="field col-12 md:col-3">
                    <label for="coordX">X</label>
                    <input id="coordX"
                           type="number"
                           pInputText
                           [(ngModel)]="interaction.coordX"
                           (ngModelChange)="redrawInteractions()">
                </div>

                <div class="field col-12 md:col-3">
                    <label for="coordY">Y</label>
                    <input id="coordY"
                           type="number"
                           pInputText
                           [(ngModel)]="interaction.coordY"
                           (ngModelChange)="redrawInteractions()">
                </div>
            </ng-container>

            <app-start-add></app-start-add>

            <!--            <div class="field col-12">-->
            <!--                <label for="projectName">TODO</label>-->
            <!--                <input pInputText-->
            <!--                       id="projectName"-->
            <!--                       [(ngModel)]="project.projectName"-->
            <!--                       type="text"-->
            <!--                       [required]="true"-->
            <!--                       name="projectName">-->
            <!--            </div>-->
            <!--            <div class="field-radiobutton col-12">-->
            <!--                <label for="valid">TODO</label>-->
            <!--                <p-checkbox id="valid"-->
            <!--                            (click)="setActive(project.valid)"-->
            <!--                            [value]="project.valid"-->
            <!--                            [(ngModel)]="project.valid"-->
            <!--                            [binary]="true"></p-checkbox>-->
            <!--            </div>-->


        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Tühista"
            icon="pi pi-times"
            id="cancel-btn"
            class="p-button p-button-danger"
            [disabled]="isSavingInteraction"
            (click)="cancelInteractionEdit()"
        ></button>
        <button
            pButton
            pRipple
            [label]="'Salvesta'"
            id="save-btn"
            icon="pi pi-check"
            class="p-button p-button-success"
            [disabled]="isSavingInteraction"
            (click)="saveAssignmentDetails()"
        ></button>
    </ng-template>

</p-dialog>
