<div class="card">
    <ng-container *ngIf="!isRegularUser">
        <h5>Projektid</h5>
        <app-project (projectSelected)="projectSelected($event)"></app-project>
    </ng-container>

    <h5>Kõik ülesanded</h5>

    <button
        pButton
        [disabled]="!selectedRow"
        pRipple
        class="p-button-secondary"
        (click)="modifyAssignment()"
        label="Muuda">
    </button>
    <button
        *ngIf="isRegularUser"
        pButton
        pRipple
        class="p-button-success ml-2"
        [disabled]="!selectedRow"
        (click)="markSelectedFinished()"
        label="Märgi lõpetatuks">
    </button>
    <button
        *ngIf="canShowApproveButton"
        pButton
        pRipple
        class="p-button-success ml-2"
        (click)="approveSelectedAssignment()"
        label="Kinnita">
    </button>

    <app-filtered-table
        [fluid]="true"
        [value]="projectList"
        [loading]="loading"
        [paginator]="true"
        [columns]="selectedTableColumns"
        (rowSelected)="openDialog($event.data)"
        (rowEditInit)="rowEditInit($event)"
        (rowDeleted)="delete($event)"
        [selectionMode]="'single'"
        [(selection)]="selectedRow"
        [allowDeletion]="true"
        editMode="rowDialog">
    </app-filtered-table>

    <button
        pButton
        pRipple
        class="p-button-secondary"
        [disabled]="isRegularUser || !selectedProject"
        (click)="createAssignment(selectedProjectId)"
        label="Lisa ülesanne">
    </button>
</div>
